# Julia' da DataFrame oluşturma

In [1]:
using DataFrames

In [7]:
df = DataFrame(a = 1:4, b = ["K", "L", "M", "N"])

4×2 DataFrame
 Row │ a      b
     │ Int64  String
─────┼───────────────
   1 │     1  K
   2 │     2  L
   3 │     3  M
   4 │     4  N

In [10]:
df.a

4-element Vector{Int64}:
 1
 2
 3
 4

In [11]:
df."a"

4-element Vector{Int64}:
 1
 2
 3
 4

In [12]:
df[!, :a]

4-element Vector{Int64}:
 1
 2
 3
 4

In [13]:
df[!, "a"]

4-element Vector{Int64}:
 1
 2
 3
 4

In [14]:
df[!, 1]

4-element Vector{Int64}:
 1
 2
 3
 4

In [15]:
using PyCall

In [16]:
pyimport_conda("pandas", "pandas")

[ Info: Installing pandas via the Conda pandas package...
[ Info: Running `conda install -y pandas` in root environment

Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\cedgk\.julia\conda\3\x86_64

  added / updated specs:
    - pandas


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pandas-2.0.3               |  py310h1c4a608_1        10.5 MB  conda-forge
    python-tzdata-2023.3       |     pyhd8ed1ab_0         140 KB  conda-forge
    pytz-2023.3                |     pyhd8ed1ab_0         182 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        10.8 MB

The following NEW packages will be INSTALLED:

  pandas             conda-forge/win-64::pandas-2.0.3-py310h1c4a608_1
  python-tzdata      conda-forge/noarch::python-tzdata-2023.3-pyhd8ed1ab_0
  pytz               conda-forge/noarch::pytz-2023.3-pyhd8ed1ab_0



Downloading and Extracting Packages
pandas-2.0.3         | 10.5 MB   |            |   0%
pytz-2023.3          | 182 KB    |            |   0%

python-tzdata-2023.3 | 140 KB    |            |   0%

python-tzdata-2023.3 | 140 KB    | #1         |  11%
pytz-2023.3          | 182 KB    | 8          |   9%

pandas-2.0.3         | 10.5 MB   |            |   0%
pandas-2.0.3         | 10.5 MB   | #4         |  14%

python-tzdata-2023.3 | 140 KB    | ########## | 100%




Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

PyObject <module 'pandas' from 'C:\\Users\\cedgk\\.julia\\conda\\3\\x86_64\\lib\\site-packages\\pandas\\__init__.py'>

In [22]:
pandas = pyimport("pandas")

PyObject <module 'pandas' from 'C:\\Users\\cedgk\\.julia\\conda\\3\\x86_64\\lib\\site-packages\\pandas\\__init__.py'>

In [23]:
df = pandas.DataFrame()

PyObject Empty DataFrame
Columns: []
Index: []

In [24]:
df["a"] = [1,2,3,4]

sys:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

4-element Vector{Int64}:
 1
 2
 3
 4

In [25]:
df["b"] = 2*df.a

4-element Vector{Int64}:
 2
 4
 6
 8

In [26]:
df

PyObject Empty DataFrame
Columns: []
Index: []